@import url("../normalize.css");

.container {
    display: flex;
    justify-content: space-between;

    border: 1px solid green;
    background-color: #00ffff;
}

.text {
    line-height: 18px;
}


