@import url("../normalize.css");

.content {
    width: 600px;
    margin: 0 auto;

    color: white;
    background-color: blue;
}

.mouse-img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
